Repository arboric/arboric: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker_build_develop, docker_build_features, pages

docker_build_develop:
  stage: build
  services:
  - docker:19.03.1-dind
  image: docker:18.09.1
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

docker_build_features:
  stage: build
  when: manual
  services:
  - docker:19.03.1-dind
  image: docker:18.09.1
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
  ...

pages:
  stage: docs
  image: registry.gitlab.com/pages/hugo:latest
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  script:
  - cd docs && hugo -d ../public/
  artifacts:
    paths:
    - public

Fixing the pages
  docs/config.toml
  docs/content/post/announcing-arboric-graphql-api-gateway.md
Due: pages

Logging levels now configurable via config.yml
  etc/arboric/config.yml
  src/arboric/config/mod.rs
  src/arboric/config/yaml.rs
  src/bin/arboric.rs
  src/lib.rs
Due: docker_build_develop, docker_build_features

Tests passing again
  etc/arboric/config.yml
  src/arboric/abac/mod.rs
  src/arboric/graphql/pattern.rs
  src/arboric/mod.rs
  src/lib.rs
Due: docker_build_develop, docker_build_features

Added a test for file logging, but it already works in last commit.
  src/arboric/config/yaml.rs
Due: docker_build_develop, docker_build_features

Bump up version to 0.2.1
  Cargo.toml
Due: docker_build_develop, docker_build_features

Make the test actually assert something
  Cargo.toml
  src/arboric/config/yaml.rs
Due: docker_build_develop, docker_build_features

Deserialize the log::Level directly (more helpful error messages, too)
  src/arboric/config/yaml.rs
Due: docker_build_develop, docker_build_features

Updated README.md
  README.md
Due: none

Updating and fixing .gitlab-ci.yml
  .gitlab-ci.yml
Due: docker_build_develop, docker_build_features, pages

Use rust:1.38.0 (so don't have to apt get openssl, etc.)
  .gitlab-ci.yml
Due: docker_build_develop, docker_build_features, pages

Only tags
  .gitlab-ci.yml
Due: docker_build_develop, docker_build_features, pages

Copy and install the .deb directly to save 16MB off the final image
  Dockerfile
  etc/libssl1.1_1.1.1d-0+deb10u1_amd64.deb
Due: docker_build_develop, docker_build_features

'Pin' frank_jwt for now since new version breaks compilation
  Cargo.toml
Due: docker_build_develop, docker_build_features

Rust 1.39 and cargo update
  Cargo.toml
  src/arboric/abac/mod.rs
  src/arboric/proxy_service.rs
Due: docker_build_develop, docker_build_features

Added rust.yml Github Actions workflow
  .github/workflows/rust.yml
Due: none

Adding Cargo.lock (will remove again later from the library when we upgrade to a Cargo workspace)
  .gitignore
  Cargo.lock
Due: docker_build_develop, docker_build_features

Use latest grafana image
  docker-compose.yml
Due: none

Corrected YAML formatting
  etc/arboric/config.yml
Due: docker_build_develop, docker_build_features

Updated test instructions
  test/README.md
Due: none

Path conditions:
  docker_build_develop: any of: .gitlab-ci.yml, Cargo.*, src/**/*, etc/**/*
  docker_build_features: any of: .gitlab-ci.yml, Cargo.*, src/**/*, etc/**/*
  pages: any of: .gitlab-ci.yml, docs/**/*
